# Ignore GitHub configuration files
.github/

# Ignore husky configuration
.husky/

# Ignore coverage reports
coverage/

# Ignore docs
docs/

# Ignore source files
src/

# Ignore test files
tests/

# Ignore configuration files
.editorconfig

# Ignore ESLint configuration files
eslint.config.mts

# Ignore Jest configuration files
jest.config.ts

# Ignore Prettier configuration files
.prettierignore
prettier.config.mts

# Ignore TypeScript configuration files
tsconfig.build.json
tsconfig.json

# Semantic release configuration
.releaserc

# Commitlint configuration
commitlint.config.mts

# Build output
build/

# Esbuild configuration
esbuild.config.mts
